@page "/profile"

<h3>Profile</h3>
<p><b>Name:</b> Eliza Songcayawon</p><br/>
<p><b>Age:</b> 22</p><br />
<p><b>Address:</b> Capayuran,Pigcawayan,Cotabato</p><br />
<p><b>Email:</b> elizasongcayawon02@gmail.com</p><br />
<p><b>Birthday:</b> August 20, 2003</p>
<br />


@code {

}
